<section id="features" class="bg-silver-deep">
      <div class="container pb-50" style="    padding-top: 70px;">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4 mb-sm-30">
            <div class="feature-box text-center bg-silver-light p-30 pb-20">
              <div class="feature-icon">
                <img src="http://thememascot.net/demo/personal/j/imfundo/v2.0/demo/images/icons/1.png" alt="">
              </div>
              <div class="feature-title">
                <h3>Online Course Facilities</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta quia quos a beatae ratione possimus, accusantium!</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 mb-sm-30">
            <div class="feature-box text-center bg-silver-light p-30 pb-20" >
              <div class="feature-icon">
                <img src="http://thememascot.net/demo/personal/j/imfundo/v2.0/demo/images/icons/2.png" alt="">
              </div>
              <div class="feature-title">
                <h3>Modern Book Library</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta quia quos a beatae ratione possimus, accusantium!</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="feature-box text-center bg-silver-light p-30 pb-20">
              <div class="feature-icon">
                <img src="http://thememascot.net/demo/personal/j/imfundo/v2.0/demo/images/icons/3.png" alt="">
              </div>
              <div class="feature-title">
                <h3>Be Industrial Leader</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta quia quos a beatae ratione possimus, accusantium!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


